<!-- INÍCIO DO CONTEÚDO -->

<section class="content-header">

  <h1>Carta Ao Leitor</h1>

</section>





<section class="content">

  <p class="lead">

    A carta de André Moreira ao leitor é a seguinte:

  </p>

  <p class="lead">

      Bidu license

  </p>

  <p class="lead">Copyright 2021 Bidu Studios</p>

  <p class="lead">“Caro Leitor,
     O verbo "ler" pode ser muito usado em escolas e universidades, mas apenas aqueles que verdadeiramente leem por prazer entendem a perfeição de uma obra literária.
    Respeitosamente,
  </p>
    <p class="lead">André Moreira</p>

    <p class="lead">"Assim que se olharam, amaram-se; assim que se amaram, suspiraram; assim que suspiraram, perguntaram-se um ao outro o motivo; assim que descobriram o motivo, procuraram o remédio."
    </p>
      <p class="lead">William Shakespeare</p>

</section>

<!-- FIM DO CONTEÚDO -->
